/* //global class and variables  */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");


/* 
============================
fonts 
============================
 */

/* font lato  */
/* Header/Footer: DA6400 (primary) with #FFFFFF (text) Buttons/Links: #4B8B3B (forest green) with #FFFFFF (text) Background: #F5F5F5 (light gray) with accents of #FFE082 (light golden yellow) Text: #A0A0A0 (medium gray) on #FFFFFF (background) */
:root {
  /* dark shades of primary color*/
  /* heading: */
  --clr-primary-1: hsl(184, 91%, 17%);
  /* background:    */

  --clr-primary-bg-1: #DA6400;
  --clr-primary-bg-3: #E78B7A;
  --clr-primary-bg-5: #F3DED8;
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-rustic-brown: #8B4513;
  --clr-soft-white: #F5F5DC;
  --clr-muted-yellow: #DAA520;
  --clr-sustain-1: #4B8B3B;
  --clr-sustain-5: #8DBF42;
  --clr-sustain-10: #A6C999;
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);

  --clr-footer-5: #0d1a2dd7;
  --clr-footer-1: #06152A;
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-black: #000;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --hover-changes: rgba(0, 0, 0, 0.9);
}



/* 
============================
global styles  
============================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-110);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


.btn {
  text-transform: uppercase;
  text-align: center;
  background: var(--clr-primary-bg-1);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.btn:hover {
  color: var(--clr-primary-bg-5);
  background: var(--hover-changes);
}


.icon-img-container {
  /* height: 20px; */
  width: 2.5rem;
  display: flex;

  /* display: block; */
  object-fit: cover;
}

.icon-img {
  width: 100%;
  flex: 1 1 2.5rem;
}

.section {
  padding: 4rem 0;
  width: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;

}

.section-title h2 {
  text-transform: uppercase;
}



.section-title span {
  color: var(--clr-primary-bg-1);
}


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  /* background: red; */
}


@media screen and (min-width:992px) {
  .section-center {
    width: 95vw;
  }
}


/* 
============================
end of global ccss 
============================
 */

/* 
 ============================
 navbar 
 ============================
  */

/* 
  ============================
  end of navbar  
  ============================
   */

/* 
============================
hero section  
============================
 */


.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 2s ease-in-out;
  width: 200%;

  /* Double the width for two slides */
}



.slide {
  width: 50%;
  flex-shrink: 0;
  position: relative;

}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.caption h1 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  color: var(--clr-primary-bg-1);
  max-width: 35rem;
  /* position: fixed; */
}

.caption p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  text-align: center;
  background-color: var(--clr-primary-bg-1);
  transition: var(--transition);
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 400px;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  border-radius: var(--radius);
}


.typewriter {
  /* border-right: 0.1em solid white; */
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }



  50% {
    border-color: white;
  }


}

.hide-display {
  display: none;
}

.navigation-icon {
  font-size: 0.5rem;
  padding: 0.2rem 0.1rem;
  display: block;

}

@media screen and (min-width:576px) {
  .caption h1 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
    color: var(--clr-primary-bg-1);
    max-width: 35rem;
    /* position: fixed; */
  }

  .caption p {
    font-size: 1.5rem;

  }

  .navigation-icon {
    font-size: 1rem;
    padding: 0.5rem 0.25rem;


  }


}


@media screen and (min-width:776px) {
  .hero-btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}

/* 
============================
hero section ends  
============================
 */

/* 
============================
services start  
============================
 */


.services {
  background: var(--clr-grey-10);

}

.service {
  text-align: center;
  margin-bottom: 4rem;
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
}

.service-icon {
  background: var(--clr-primary-bg-1);

  color: var(--clr-primary-bg-1);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  transition: var(--transition);
}


.service-text {
  max-width: 20rem;
  margin: 0 auto;


}

.service-title {
  font-size: 1.25rem;
  color: var(--clr-grey-1);
  transition: var(--transition);

}

.service-text {
  font-size: 0.875rem;
  color: var(--clr-grey-5);
}



@media screen and (min-width:576px) {
  .services-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .service {
    flex: 0 0 calc(50% - 1rem);


  }
}

@media screen and (min-width:992px) {

  .services-center {
    justify-content: space-between;
    gap: 1.33rem;
    margin: 0 auto;


  }

  .service {
    flex: 0 0 calc(50%-3rem);
    padding: 0.75rem 1.5rem;
    max-width: 35rem;


  }

  .service-text {
    font-size: 1rem;

  }

  .service-title {
    font-size: 2rem;

  }


}


@media screen and (min-width:1170px) {




  .service {
    display: flex;
    text-align: left;
    align-self: center;
  }

  .service-icon {
    align-self: start;


  }

  .service-info {
    padding-left: 1rem;
  }

  .service-title {
    margin-bottom: 0.5rem;
  }


}

.service:hover {
  box-shadow: var(--light-shadow);
  cursor: pointer;
  background: var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
}

.service:hover .service-title {
  color: var(--clr-primary-bg-3);
}

.service:hover .service-icon {
  background: var(--hover-changes);
}

.section-title h2 {
  position: relative;
  /* background: red; */
  padding-bottom: 0.375rem;
}

.section-title h2::before {
  content: "";
  background: var(--clr-primary-bg-1);
  height: 0.3rem;
  width: 4rem;
  position: absolute;
  /* left: 50%; */
  bottom: 0;
  /* top: 0; */
  border-radius: 3px;
  text-align: center;
  /* animation: */


}

/* @keyframes {} */

/* 
 ============================
 services end 
 ============================
  */


/* 
============================
product section start 
============================
 */


.products {
  /* height: 100vh; */
  background: var(--clr-white);

  width: 85%;
  margin: 0 auto;
  transition: all 4s ease-in-out;
}

.product-1 {
  background: var(--clr-white);
  width: 100%;
  transition: all 4s ease-in-out;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 2rem;
  transition: all 4s ease-in-out;

}

.product-item {
  border-left: 3px solid red;
  min-height: 10vh;
  background: linear-gradient(var(--clr-primary-bg-5), #f8dfca90);
  transition: all 4s ease-in-out;
  padding: 1rem 1.5rem;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  margin: 0 1rem;


}

.product-info {
  display: none;

}

.product-info {
  min-width: 10rem;
  transition: all 4s ease-in-out;
}

.product-info h2 {
  font-size: 1.5rem;
}

.product-info-description h3 {
  font-size: 1rem;
}

.product-info-description p {
  font-size: 0.875rem;
}

.product-info- .product-content {
  height: 0vh;
}

.product-content h4 {
  color: var(--clr-primary-1);

  text-align: center;
  margin-top: 1rem;



}

.product-content {
  height: 0;
}


.product-img {
  width: 100%;
  height: 80%;
  object-fit: fill;
  /* opacity: 0; */
}


.product-item:hover {

  background: var(--clr-white);
}


.product-item:hover .product-info {
  display: block;
}

.product-item:hover .product-content {
  height: 40vh;
}

.product-item:hover h4 {
  display: none;
}


.product-item:hover .product-img {
  opacity: 1;
}


.product-item {
  padding: 1rem 1.5rem;
}

/* 
============================
accordian classes  
============================
 */

.accordion .product-item {
  height: 640px;
  max-height: 80vh;
  /* height: 77vh; */
  min-height: 650px;
}

.accordion {
  width: 95%;
  min-height: 70vh;
  overflow: hidden;
  margin: 0px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 1rem;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1000ms ease-in-out;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 90px;
  width: 50%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  /*filter: invert(100%);*/
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 300ms ease-in-out;
}

.accordion ul li div a * {
  opacity: 1;

  margin: 0 0 0 10px;
  width: 100%;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  /* top: 240px; */
}

.accordion ul li div .title {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 210px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000;
  left: 5%;
  position: absolute;
  opacity: 1;
}



.accordion ul li:nth-child(1) {
  background: url("../images/products/pp_bag.png") center/cover no-repeat;
  width: 16%;
  background-position: 10% 50%;
  object-fit: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  border-bottom: 3px solid red;
}

.accordion ul li:nth-child(2) {
  background: url("../images/products/wpp.png") center/cover no-repeat;
  /* background-position: 50% 0%; */
  border-bottom: 3px solid black;
}

.accordion ul li:nth-child(3) {
  background: url("../images/products/bopp.png") center/cover no-repeat;
  background-position: 50% 0%;
  border-bottom: 3px solid red;
}

.accordion ul li:nth-child(4) {
  background: url("../images/products/rpbag.png") center/cover no-repeat;
  background-position: 50%;
  border-bottom: 3px solid black;
}

.accordion ul li:nth-child(5) {
  background: url("../images/products/bio-degradable.jpeg") center/cover no-repeat;
  background-position: 60% 64%;
  border-bottom: 3px solid red;
}

.accordion ul li:nth-child(6) {
  background: url("../images/products/fabric.png") center/cover no-repeat;
  background-position: 70% 25%;
  border-bottom: 3px solid black;
}

.accordion ul li:nth-child(7) {
  background: url("../images/products/fibc.png") center/cover no-repeat;
  background-position: 50% 30%;
  border-bottom: 3px solid red;
}

/* 
.accordion ul li:nth-child(8) { 
  background-image: url("http://res.cloudinary.com/simpleview/image/upload/v1512147648/clients/scottsdale/TSR_Spa_5ad5c4b7-2134-40d7-b8cf-ca5ba83c67d9.jpg"); 
  background-position: 50% 30%;
} */
.accordion ul li {
  background-size: cover;
}

.accordion ul:hover li {
  width: 10%;
}

.accordion ul:hover li:hover {
  width: 90%;
}

/*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li:hover .title * {
  opacity: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 680px) {

  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }

  .accordion ul li div a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* .accordion .info {
  display: none;
} */

.accordion .product-item {
  position: relative;
  box-shadow: var(--dark-shadow);
}

.accordion .info {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: var(--clr-grey-10);
  /* background: Red; */
  /* color: yellow; */
  top: 0;
  right: 0;
  width: 60%;
  overflow: scroll;

}

.accordion .info {
  display: none;
}

.accordion .product-item:hover .info {
  display: block;
}



.product-2 {
  display: none;
  min-height: 70vh;
}

@media screen and (min-width:776px) {
  .product-1 {
    display: none;
  }

  .product-2 {
    display: block;
    background: var(--clr-white);
    width: 100%;
    ;
  }
}


.info {
  padding: 1rem;
}

.product-info-heading h2 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.product-info-description h3 {
  font-size: 1rem;
  text-transform: capitalize;

}

.product-info-description p {
  font-size: 0.8rem;
  margin: 0;
  color: var(--clr-grey-5)
}

.product-info-benefits h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-transform: capitalize;

}

.product-info-benefits p {
  font-size: 0.8rem;
  margin: 0;
  color: var(--clr-grey-5)
}


@media screen and (min-width:992px) {
  .info p {
    font-size: 1rem;
  }

  .info h3 {
    font-size: 1.5rem;


  }
}

.sliderLink {
  transition: var(--transition);
}

.sliderLink:hover {
  color: var(--clr-primary-bg-1);
}


.product-explore .product-btn {
  height: 50px;
  text-align: center;
  width: 100%;
  /* min-width: 500px; */
  /* margin-top: 1rem; */
  margin: 1rem auto;
}

.product-info .product-explore {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}



/* 
============================
accordian end  
============================
 */

/* 
============================
produt section end  
============================
 */

/* about us  */





/* faq's  */

.faq-section {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: var(--light-shadow);
}

.faq-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.faq-item {
  margin: 10px 0;
}

.faq-question {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  background-color: var(--clr-white);
  border: 2px solid #f9f9f9;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
}

.faq-question.active {
  background-color: var(--clr-primary-bg-1);
}

.faq-question::after {
  content: '+';
  font-size: 20px;
}

.faq-question.active::after {
  content: '-';
}

.about-sub-title {
  margin-bottom: 1rem;
}

.about-sub-title h2 {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

.about-sub-title h5 {
  font-size: 0.75rem;
  text-align: left;
  color: silver;
  text-transform: uppercase;
}


.about {
  padding: 2rem;
}

.about-btn {
  display: flex;
  justify-content: center;
}

.faq {
  padding: 2rem;
}


.faq-title {
  margin-bottom: 1rem;


}

.faq-title h5 {
  font-size: 0.75rem;
  text-align: left;
  color: silver;
  text-transform: uppercase;
}

.faq-title h2 {
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

@media screen and (min-width:776px) {
  .about-faq {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
  }

  .about {
    width: 46%;
  }

  .faq {
    width: 46%;
  }
}


/* 
============================
contact section start  
============================
 */
.contacts {
  background: linear-gradient(rgba(5, 24, 41, 0.8), rgba(5, 24, 41, 0.8)), url("../images/background-img-contact.jpg") center/cover no-repeat;
  position: relative;
  padding: 2rem 0;
}

.form-title {
  margin-bottom: 1rem;


}

.contact {
  padding: 2rem 1rem;

}

.contact-form {
  display: flex;
  margin: 0 auto;
  /* flex-direction: column; */
  /* max-width: 30rem; */
  flex-wrap: wrap;

  /* height: 2rem; */
  gap: 1rem;
  padding: 1rem
}

.contact-items {
  max-width: 100%;
  /* text-align: center; */
}

.contact-item a {
  color: var(--clr-white);
  max-width: 100%;
  margin: 0 auto;
}

.contact-item i {
  padding: 0.5rem;
  color: var(--clr-primary-bg-1)
}

.form-contact {
  padding: 2rem 0;
}

.form-submit-holder {
  display: flex;
  justify-content: center;
}


.form-control {
  flex: 1 1 auto;
  height: 25%;

  color: var(--clr-grey-5);

}

.contacts {
  border: 3px solid red;
  color: var(--clr-white);
}

.form-control,
.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: var(--spacing);
  line-height: 1.5;
  text-transform: capitalize;
  border: transparent;
  background: var(--clr-white);
  /* max-height: 50% */
}


.btn-submit {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background: var(--clr-primary-bg-1);
  color: var(--clr-white);
  padding: 0.375rem 0.875rem;

  transition: var(--transition);
  border-radius: var(--radius);

}

.form-control {
  padding: 1rem 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.form-control:active {
  background: var(--clr-primary-bg-5);
}

.form-control::placeholder {
  color: var(--clr-grey-5);
}

.form-submit-holder {
  margin: 1rem;
}

.form-title h2 {
  color: var(--clr-white);
}

@media screen and (min-width:776px) {
  .contacts {
    display: flex;
    justify-content: space-between;
  }

  .contact {
    width: 50%;
  }

  .contact-items {
    max-width: 50%;
  }

  .form-contact {
    width: 50%;
  }
}