:root {
  /* dark shades of primary color*/
  /* heading: */
  --clr-primary-1: hsl(184, 91%, 17%);
  /* background:    */

  --clr-primary-bg-1: #DA6400;
  --clr-primary-bg-3: #E78B7A;
  --clr-primary-bg-5: #e5b2a4;
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-rustic-brown: #8B4513;
  --clr-soft-white: #F5F5DC;
  --clr-muted-yellow: #DAA520;
  --clr-sustain-1: #4B8B3B;
  --clr-sustain-5: #8DBF42;
  --clr-sustain-10: #A6C999;
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);

  --clr-footer-5: #0d1a2dd7;
  --clr-footer-1: #06152A;
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-black: #000;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --hover-changes: rgba(0, 0, 0, 0.9);
}


body {
  background: #f1f5f9;
}

.hero {
  height: 80vh;

}

.slide img {
  height: 80vh;
}

.section {
  padding: 2rem;
  width: 90vw;
  margin: 0 auto;

}

.introduction-section {
  width: 100%;
  background: white;
}

.section-center {
  margin: 0;
  max-width: 100%;
}

.introduction {
  width: 100%;
}


.section-title {
  margin-bottom: 2rem;
}

.introduction {
  background: white;
}

.section-title {
  text-align: left;
}

.intro-text p {
  font-size: 0.875rem;
  width: 100%;

}

@media screen and (min-width:772px) {
  .intro-text p {
    font-size: 1rem;
  }
}

.missions {
  transition: all 1s ease-in-out;
}

.missions:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: white;
}


.goals {
  transition: all 1s ease-in-out;
}

.goals:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: white;
}

@media screen and (min-width:772px) {
  .mission-goal-content {
    display: flex;
    justify-content: space-between;

  }

  .missions {
    width: 45%;
    text-align: center;
  }




  .goals {
    width: 45%;
    text-align: center;
  }
}

.footer {
  width: 100%;
}



/* //global prence  */

.global {
  width: 100%;
  background: var(--clr-white);
}

.about-picture-container {
  background: var(--clr-primary-bg-1);
  border: 0.3rem solid var(--clr-primary-bg-5);
  max-width: 90vw;

  /* // overflow extra stuff  */
  overflow: hidden;

}


.about-picture {
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}

.about-img {
  position: relative;
  width: 40%;
  margin: 0 auto;

  /* overflow: hidden; */
}

.about-image-container {
  width: 100%;
  overflow: hidden;
  background: var(--clr-primary-bg-3);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);

}

.global-title {
  font-size: 1.2rem;
  text-align: center;
}

/* //global section end  */
.about-photo {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  overflow: hidden;
  transition: var(--transition);
}

.about-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.5rem solid var(--clr-primary-bg-1);
  box-sizing: border-box;
  border-radius: var(--radius);
  top: -1rem;
  left: -1rem;
  z-index: -1;
}


.about-img:hover .about-photo {
  opacity: 0.5;
  transform: scale(1.01);

}

.management {
  padding: 2rem;

}

.management-section {
  margin: 0 auto;
}

.mang-img {
  margin: 2rem 0;

}

.about-info h2 {
  text-align: center;
  position: relative;
  font-size: 1.5rem
}


.about-info h2:before {
  left: 50%;
  transform: translate(-50%);
}

.about-info p {
  color: var(--clr-grey-5)
}


@media screen and (min-width:776px) {
  .management-center-1 {
    display: flex;
    margin: 2rem 0;
  }

  .reverse-flex {
    flex-direction: row-reverse;
  }

  .mang-img {
    width: 50%;
  }

  .mang-text {
    width: 50%;
  }

  .about-img {
    width: 60%;
    max-width: 200px;
  }
}

.title-center h2 {
  text-align: center;
}

@media screen and (min-width:1170px) {
  .about-info h2 {
    font-size: 2rem;
  }

  .about-info p {
    font-size: 1.1rem;
  }
}


/* //awards and recognition  */


/* //awards aniimation  */
/* not -webkit- optimised */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --image-1: url("../../images/awards/113.png");
  --image-2: url("../../images/awards/a1.png");
  --image-3: url("../../images/awards/c1.jpg");
  --image-4: url("../../images/awards/certificate.jpg");
}

.award-center {
  height: 80vh;
  width: 100vw;
  background: linear-gradient(45deg,
      rgba(0, 0, 0, 0.2) 10%,
      rgba(0, 0, 0, 0.8) 100%),
    url("../../images/hero-img.jpeg") no-repeat center top fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

.traffic:first-child {
  height: inherit;
  width: 100%;
  position: relative;

  & div:nth-child(1) {
    width: 100%;
    border: 2vh solid #000;
    position: absolute;
    bottom: 3vh;
    left: 0;
    animation: light 5000s linear 0.1s infinite;
  }

  & div:nth-child(2) {
    height: 4vh;
    width: 5vw;
    background-color: #800080;
    position: absolute;
    bottom: 5vh;
    border-top-right-radius: 75%;
    animation: move 1.5s linear 0.3s infinite;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  & span:nth-child(1) {
    display: inline-block;
    width: 2vw;
    height: 1.5vh;
    position: absolute;
    background-color: #ffffff90;
    box-shadow: 1px 1px #000, -1px -1px #000;
    margin: 0 2vw;
    border-top-right-radius: 75%;
  }

  & span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4) {
    height: 1.5vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px #fff, -1px -1px #fff;

    position: absolute;
    left: 3.5vw;
    top: 3vh;
  }

  & span:nth-child(3) {
    left: 0.3vw;
  }

  & span:nth-child(4) {
    height: 0.8vh;
    top: 1.7vh;
    left: 4.3vw;
    background-color: rgb(255, 255, 0);
    box-shadow: 2px 0px 5px 5px rgb(255, 255, 0);
  }
}

.traffic:nth-of-type(2) {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  background-color: #00000070;
  z-index: -1;
  position: absolute;
  top: 0;

  & div {
    height: 10vh;
    aspect-ratio: 1/1;
    background-color: #ffffff30;
    position: absolute;
    border-radius: 50%;
    animation: circles 3s linear 2ms infinite;
  }

  & div:nth-child(1) {
    right: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    animation-delay: -1s;
  }

  & div:nth-child(2) {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
    animation-delay: -40ms;
  }

  & div:nth-child(3) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-delay: -2s;
  }

  & div:nth-child(4) {
    right: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
    animation-delay: -4s;
  }

  & div:nth-child(5) {
    left: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
  }

  & div:nth-child(6) {
    right: 0%;
    bottom: 0%;
    transform: translate(-0%, -0%);
  }

  & div:nth-child(7) {
    left: 0%;
    bottom: 0%;
    transform: translate(-0%, -0%);
  }

  /* not -webkit- optimised */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }



  :root {
    --image-1: url("../../images/awards/113.png");
    --image-2: url("../../images/awards/a1.png");
    --image-3: url("../../images/awards/c1.jpg");
    --image-4: url("../../images/awards/certificate.jpg");
  }

  .award-center {
    height: 80vh;
    width: 100vw;
    background: linear-gradient(45deg,
        rgba(0, 0, 0, 0.2) 10%,
        rgba(0, 0, 0, 0.8) 100%),
      url("https://images.unsplash.com/photo-1709508767870-26654e137a3b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center top fixed;
    background-size: 100% 100%;
  }

  .traffic:first-child {
    height: inherit;
    width: inherit;
    position: relative;

    & div:nth-child(1) {
      width: calc(100vw - 1.8vw);
      border: 2vh solid #000;
      position: absolute;
      bottom: 3vh;
      left: 0;
      animation: light 5000s linear 0.1s infinite;
    }

    & div:nth-child(2) {
      height: 4vh;
      width: 5vw;
      background-color: #800080;
      position: absolute;
      bottom: 5vh;
      border-top-right-radius: 75%;
      animation: move 1.5s linear 0.3s infinite;
      animation-fill-mode: both;
      animation-play-state: running;
    }

    & span:nth-child(1) {
      display: inline-block;
      width: 2vw;
      height: 1.5vh;
      position: absolute;
      background-color: #ffffff90;
      box-shadow: 1px 1px #000, -1px -1px #000;
      margin: 0 2vw;
      border-top-right-radius: 75%;
    }

    & span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4) {
      height: 1.5vh;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: rgb(0, 0, 0);
      box-shadow: 1px 1px #fff, -1px -1px #fff;

      position: absolute;
      left: 3.5vw;
      top: 3vh;
    }

    & span:nth-child(3) {
      left: 0.3vw;
    }

    & span:nth-child(4) {
      height: 0.8vh;
      top: 1.7vh;
      left: 4.3vw;
      background-color: rgb(255, 255, 0);
      box-shadow: 2px 0px 5px 5px rgb(255, 255, 0);
    }
  }

  .traffic:nth-of-type(2) {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #00000070;
    z-index: -1;
    position: absolute;
    top: 0;

    & div {
      height: 10vh;
      aspect-ratio: 1/1;
      background-color: #ffffff30;
      position: absolute;
      border-radius: 50%;
      animation: circles 3s linear 2ms infinite;
    }

    & div:nth-child(1) {
      right: 10%;
      top: 50%;
      transform: translate(-10%, -50%);
      animation-delay: -1s;
    }

    & div:nth-child(2) {
      left: 10%;
      top: 50%;
      transform: translate(-10%, -50%);
      animation-delay: -40ms;
    }

    & div:nth-child(3) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation-delay: -2s;
    }

    & div:nth-child(4) {
      right: 0%;
      top: 0%;
      transform: translate(-0%, -0%);
      animation-delay: -4s;
    }

    & div:nth-child(5) {
      left: 0%;
      top: 0%;
      transform: translate(-0%, -0%);
    }

    & div:nth-child(6) {
      right: 0%;
      bottom: 0%;
      transform: translate(-0%, -0%);
    }

    & div:nth-child(7) {
      left: 0%;
      bottom: 0%;
      transform: translate(-0%, -0%);
    }
  }

  .container {
    position: relative;
    height: 60vh;
    max-height: 350px;
    width: 400vw;
    top: -50%;
    left: 50%;
    border-radius: 7.5vh;
    transform: translate(-50%, -50%);
    background-color: #ffffff25;
    transform-style: preserve-3d;
    perspective: 2000px;

    & .cube {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      transform-style: preserve-3d;
      animation: rotate 6s linear 1ms infinite;
      top: 0;
      left: 0;
    }

    & .cube:is(:hover, :focus) {
      animation-play-state: paused;
    }

    & .parts {
      height: 100%;
      width: 100%;
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      background: transparent;
      transform: rotateY(calc(90deg * var(--i))) rotateX(180deg) translateZ(calc(75vh / 2));
    }

    & .parts:nth-child(1) {
      background: var(--image-1) no-repeat;
      background-size: 100% 100%;
      animation-delay: 2s;
    }

    & .parts:nth-child(2) {
      background: var(--image-2) no-repeat;
      background-size: 100% 100%;
      animation-delay: -2s;
    }

    & .parts:nth-child(3) {
      background: var(--image-3) no-repeat;
      background-size: 100% 100%;
      animation-delay: 2s;
    }

    & .parts:nth-child(4) {
      background: var(--image-4) no-repeat;
      background-size: 100% 100%;
      animation-delay: -2s;
    }

    & .parts:nth-child(5) {
      background: var(--image-5) no-repeat;
      background-size: 100% 100%;
      animation-delay: 2s;
    }

    & .parts:nth-child(6) {
      background: var(--image-6) no-repeat;
      background-size: 100% 100%;
      animation-delay: -2s;
    }
  }

  @keyframes move {
    0% {
      left: 0;
    }

    50% {
      left: 50vw;
    }

    100% {
      left: 95%;
      display: none;
    }
  }

  @keyframes light {

    0%,
    100% {
      box-shadow: 2px 0px 5px 3px rgb(255, 255, 0);
    }
  }

  @keyframes circles {
    0% {
      backdrop-filter: hue-rotate(10deg);
      transform: scale(0.5) translate3d(10%, 10%, 10%);
      -ms-transform: scale(0.5) translate3d(10%, 10%, 10%);
    }

    16.5% {
      backdrop-filter: hue-rotate(360deg);
      transform: scale(0.8) translate3d(50%, -50%, 50%);
      -ms-transform: scale(0.8) translate3d(50%, -50%, 50%);
    }

    33% {
      backdrop-filter: hue-rotate(180deg);
      transform: scale(1) rotate3d(1, 1, 1, 40deg) translate3d(-50%, 50%, 50%);
      -ms-transform: scale(1) rotate3d(1, 1, 1, 40deg);
    }

    49.5% {
      backdrop-filter: hue-rotate(220deg) contrast(200%);
      transform: scale(2);
      -ms-transform: scale(2);
      box-shadow: 0px 0px 20px 7px inset #fff;
    }

    66% {
      backdrop-filter: hue-rotate(40deg);
      transform: scale(1);
      -ms-transform: scale(1);
    }

    82.5% {
      backdrop-filter: hue-rotate(300deg);
      transform: scale(0.8);
      -ms-transform: scale(0.8);
    }

    100% {
      backdrop-filter: hue-rotate(0deg);
      transform: scale(0.5);
      -ms-transform: scale(0.5);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotateX(180deg) rotateY(0deg);
    }

    50% {
      transform: rotateX(180deg) rotateY(180deg) scale(1.2);
    }

    100% {
      transform: rotateX(180deg) rotateY(360deg);
    }
  }

  @media screen and (max-width: 1000px) {
    .container {
      height: 40vh;
      width: 40vw;
    }
  }
}

.container {
  position: relative;
  height: 60vh;
  max-height: 450px;
  width: 30vw;
  top: -50%;
  left: 50%;
  border-radius: 7.5vh;
  transform: translate(-50%, -50%);
  background-color: #ffffff25;
  transform-style: preserve-3d;
  perspective: 2000px;

  & .cube {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transform-style: preserve-3d;
    animation: rotate 6s linear 1ms infinite;
    top: 0;
    left: 0;
  }

  & .cube:is(:hover, :focus) {
    animation-play-state: paused;
  }

  & .parts {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background: transparent;
    transform: rotateY(calc(90deg * var(--i))) rotateX(180deg) translateZ(calc(75vh / 2));
  }

  & .parts:nth-child(1) {
    background: var(--image-1) no-repeat;
    background-size: 100% 100%;
    animation-delay: 2s;
  }

  & .parts:nth-child(2) {
    background: var(--image-2) no-repeat;
    background-size: 100% 100%;
    animation-delay: -2s;
  }

  & .parts:nth-child(3) {
    background: var(--image-3) no-repeat;
    background-size: 100% 100%;
    animation-delay: 2s;
  }

  & .parts:nth-child(4) {
    background: var(--image-4) no-repeat;
    background-size: 100% 100%;
    animation-delay: -2s;
  }

  & .parts:nth-child(5) {
    background: var(--image-5) no-repeat;
    background-size: 100% 100%;
    animation-delay: 2s;
  }

  & .parts:nth-child(6) {
    background: var(--image-6) no-repeat;
    background-size: 100% 100%;
    animation-delay: -2s;
  }
}

@keyframes move {
  0% {
    left: 0;
  }

  50% {
    left: 50vw;
  }

  100% {
    left: 95%;
    display: none;
  }
}

@keyframes light {

  0%,
  100% {
    box-shadow: 2px 0px 5px 3px rgb(255, 255, 0);
  }
}

@keyframes circles {
  0% {
    backdrop-filter: hue-rotate(10deg);
    transform: scale(0.5) translate3d(10%, 10%, 10%);
    -ms-transform: scale(0.5) translate3d(10%, 10%, 10%);
  }

  16.5% {
    backdrop-filter: hue-rotate(360deg);
    transform: scale(0.8) translate3d(50%, -50%, 50%);
    -ms-transform: scale(0.8) translate3d(50%, -50%, 50%);
  }

  33% {
    backdrop-filter: hue-rotate(180deg);
    transform: scale(1) rotate3d(1, 1, 1, 40deg) translate3d(-50%, 50%, 50%);
    -ms-transform: scale(1) rotate3d(1, 1, 1, 40deg);
  }

  49.5% {
    backdrop-filter: hue-rotate(220deg) contrast(200%);
    transform: scale(2);
    -ms-transform: scale(2);
    box-shadow: 0px 0px 20px 7px inset #fff;
  }

  66% {
    backdrop-filter: hue-rotate(40deg);
    transform: scale(1);
    -ms-transform: scale(1);
  }

  82.5% {
    backdrop-filter: hue-rotate(300deg);
    transform: scale(0.8);
    -ms-transform: scale(0.8);
  }

  100% {
    backdrop-filter: hue-rotate(0deg);
    transform: scale(0.5);
    -ms-transform: scale(0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(180deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(180deg) scale(1.2);
  }

  100% {
    transform: rotateX(180deg) rotateY(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 40vh;
    width: 40vw;
  }
}


/* award animatioin end  */